Projekt/PlaylistService/src/conf/xml-resources/web-services/PlaylistWebService/wsdl/PlaylistService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://www.ttu.ee/idu0075/playlist" 
	targetNamespace="http://www.ttu.ee/idu0075/playlist">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.ttu.ee/idu0075/playlist" elementFormDefault="qualified">
			<xs:complexType name ="songType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="title" type="xs:string"/>
					<xs:element name="artist" type="xs:string"/>
					<xs:element name="album" type="xs:string"/>
					<xs:element name="year" type="xs:integer"/>
					<xs:element name="genre" type="xs:string"/>
					<xs:element name="length" type="xs:time"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="playlistSongType">
				<xs:sequence>
					<xs:element name="song" type="tns:songType"/>
					<xs:element name="dateAdded" type="xs:date"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="playlistSongListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="playlistSong" type="tns:playlistSongType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="playlistType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="playlistNo" type="xs:string"/>
					<xs:element name="playlistName" type="xs:string"/>
					<xs:element name="playlistSongList" type="tns:playlistSongListType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getSongRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSongResponse" type="tns:songType"/>
			<xs:element name="addSongRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSongResponse" type="tns:songType"/>
			<xs:element name="getSongListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSongListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="song" type="tns:songType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPlaylistRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPlaylistResponse" type="tns:playlistType"/>
			<xs:element name="addPlaylistRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="playlistId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPlaylistResponse" type="tns:playlistType"/>
			<xs:element name="getPlaylistListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element minOccurs="0" name="hasRelatedSongs">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
							  <xs:pattern value="yes|no"/>
							</xs:restriction>
						  </xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPlaylistListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="playlist" type="tns:playlistType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPlaylistSongListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="playlistId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPlaylistSongListResponse" type="tns:playlistSongListType"/>
			<xs:element name="addPlaylistSongRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="playlistId" type="xs:integer"/>
						<xs:element name="songId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPlaylistSongResponse" type="tns:playlistSongType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getSongMessageRequest">
		<wsdl:part name="parameter" element="tns:getSongRequest"/>
	</wsdl:message>
	<wsdl:message name="getSongMessageResponse">
		<wsdl:part name="parameter" element="tns:getSongResponse"/>
	</wsdl:message>
	<wsdl:message name="addSongMessageRequest">
		<wsdl:part name="parameter" element="tns:addSongRequest"/>
	</wsdl:message>
	<wsdl:message name="addSongMessageResponse">
		<wsdl:part name="parameter" element="tns:addSongResponse"/>
	</wsdl:message>
	<wsdl:message name="getSongListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSongListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSongListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSongListResponse"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlaylistRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlaylistResponse"/>
	</wsdl:message>
	<wsdl:message name="addPlaylistMessageRequest">
		<wsdl:part name="parameter" element="tns:addPlaylistRequest"/>
	</wsdl:message>
	<wsdl:message name="addPlaylistMessageResponse">
		<wsdl:part name="parameter" element="tns:addPlaylistResponse"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistListMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlaylistListRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistListMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlaylistListResponse"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistSongListMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlaylistSongListRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlaylistSongListMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlaylistSongListResponse"/>
	</wsdl:message>
	<wsdl:message name="addPlaylistSongMessageRequest">
		<wsdl:part name="parameter" element="tns:addPlaylistSongRequest"/>
	</wsdl:message>
	<wsdl:message name="addPlaylistSongMessageResponse">
		<wsdl:part name="parameter" element="tns:addPlaylistSongResponse"/>
	</wsdl:message>
	<wsdl:portType name="PlaylistPortType">
		<wsdl:operation name="getSong">
			<wsdl:input message="tns:getSongMessageRequest"/>
			<wsdl:output message="tns:getSongMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSong">
			<wsdl:input message="tns:addSongMessageRequest"/>
			<wsdl:output message="tns:addSongMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSongList">
			<wsdl:input message="tns:getSongListMessageRequest"/>
			<wsdl:output message="tns:getSongListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPlaylist">
			<wsdl:input message="tns:getPlaylistMessageRequest"/>
			<wsdl:output message="tns:getPlaylistMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPlaylist">
			<wsdl:input message="tns:addPlaylistMessageRequest"/>
			<wsdl:output message="tns:addPlaylistMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPlaylistList">
			<wsdl:input message="tns:getPlaylistListMessageRequest"/>
			<wsdl:output message="tns:getPlaylistListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPlaylistSongList">
			<wsdl:input message="tns:getPlaylistSongListMessageRequest"/>
			<wsdl:output message="tns:getPlaylistSongListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPlaylistSong">
			<wsdl:input message="tns:addPlaylistSongMessageRequest"/>
			<wsdl:output message="tns:addPlaylistSongMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PlaylistBinding" type="tns:PlaylistPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSong">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSong">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSongList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getPlaylist">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPlaylist">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPlaylistList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getPlaylistSongList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPlaylistSong">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PlaylistService">
		<wsdl:port name="PlaylistPort" binding="tns:PlaylistBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
